body {
  font-family: "Roboto Mono", monospace;
}

#product-overview {
  background: black;
}

.section-title {
  color: lightgreen;
  font-family: inherit;
}

#product-overview h1 {
  color: white;
  font-family: "Bangers", cursive;
}
