* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

#product-overview {
  background: black;
  padding: 10px;
  width: 100%;
  height: 100%;
}

#product-overview h1 {
  color: white;
  font-family: "Bangers", cursive;
}

.section-title {
  color: lightgreen;
  font-family: inherit;
}

.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 5px 10px;
}

.main-nav {
}

.main-nav-items {
}

.main-nav-item {
  display: inline-block;
}
