* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  position: fixed;
  width: 100%;
  background-color: #2ddf5c;
  padding: 8px 16px;
  display: inline-block;
  left: 0;
  top: 0;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header-brand {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 22px;
  height: 35px;
  display: inline-block;
}

.main-header-brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 100px);
  text-align: right;
  vertical-align: middle;
}

.main-nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav-item {
  display: inline-block;
  margin: 0px 25px;
}

.main-nav-item > a {
  text-decoration: none;
  color: black;
  padding: 3px 0;
}

.main-nav-item > a:hover,
.main-nav-item > a:active {
  color: white;
  border-bottom: 2px solid white;
}

.main-nav-item-cta > a {
  color: white;
  background: black;
  padding: 8px 16px;
  border-radius: 5px;
}

.main-nav-item-cta > a:hover,
.main-nav-item-cta > a:active {
  color: black;
  background: white;
  border: none;
}

.action-button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0;
  cursor: pointer;
}

.action-button:hover,
.action-button:active {
  background: white;
  color: #0e4f1f;
}

.main-footer {
  background: black;
  color: white;
  padding: 32px;
  margin-top: 48px;
}

.main-footer-links {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.main-footer-link {
  display: inline-block;
  color: inherit;
  margin: 0 20px;
}

.main-footer-link > a {
  color: white;
  text-decoration: none;
}

.main-footer-link > a:hover,
.main-footer-link > a:active {
  color: rgb(146, 143, 143);
}
